* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(adam-hornyak-RFiVa0AfhK0-unsplash.jpg);
    background-size: auto;
}

.heading {
    display: flex;
    justify-content: space-between;
}

.image {
    height: 200px;
    border: 2px dotted white;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.carousel-role {
    color: navy;
    font-size: larger;
}

.hire-image {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.hire {
    position: relative;
    align-self: center;
}

.hire-btn {
    height: 30px;
    width: 60px;
    cursor: pointer;
}
.hire-btn::after{
    content: 'Hire me';
    align-content: center;
    position: absolute;
    height: 30px;
    width: 60px;
    background: white;
    left: 0;
    top: 0;
}
.hire-btn::before {
    content: '';
    position: absolute;
    background:linear-gradient(45deg,rgb(243, 14, 243),red,blue,rgb(11, 252, 11),orange);
    height: calc(100% + 6px);
    width:  calc(100% + 6px);
    background-size: 500%;
    top: -3px;
    left: -3px;
    z-index: -1;
    filter: blur(5px);
    animation: animate 30s linear infinite;
}
.hire-btn:hover{
    transform:perspective(100px);
}
@keyframes animate {
    0%{background-position:0 0 ;}
    50%{background-position: 400% 0;}
    10%{background-position: 0 0;}
}

.name-role {
    margin-left: 5vw;
    margin-top: 5vh;
    font-size: 5vw;
}

.name {
    background: powderblue;
    color: white;
    transform: perspective(1000px) skewX(30deg) translateZ(50px);
}

.role {
    background: powderblue;
    transform: perspective(1000px) skewX(-30deg) translateZ(50px);
}

.carousel {
    overflow-x: auto;
    margin-top: 10vh;
    box-shadow: 0 0 30px black;
}
@media screen and (max-width:480px){
    .carousel{
        margin-top: 15vh;
    }
}
.carousel::-webkit-scrollbar {
    display: none;
}

.arrows {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.details {
    display: flex;
    gap: 10px;
}

.eachcarousel {
    flex: 0 0 50vw;
    min-height: 100px;
    background: white;
    align-content: center;
    text-align: center;
}

.list {
    list-style: none;
}
.img{
    background: powderblue;
    border-radius: 50%;
    height: 20px;
}
.link{
    color: blue;
    text-decoration: none;
}